<div class="">
  <h5>{{question.question}}</h5>
  <ul class="list-group">
    <li
      class="list-group-item"
      [ngClass]="{'correct-ans': grading === true && choice === question.correct,
    'wrong-ans': grading === true && choice === answer && choice !== question.correct,
    'disabled': grading === true}"

      *ngFor="let choice of question.choices">
      <label>
        <input type="radio"
               value={{choice}}
               [(ngModel)]="answer"
               name="{{question._id}}"/>&nbsp;{{choice}}
      </label>
      <!--<i
        *ngIf="grading === true && answer === choice && answer !== question.correct">-->
        <fa-icon  *ngIf="grading === true && answer === choice && answer !== question.correct" class="float-right" [icon]="faTimes">

        </fa-icon>&nbsp;&nbsp;
      <!--</i>-->
     <!-- <i
        *ngIf="grading === true && choice === question.correct">-->
        <fa-icon *ngIf="grading === true && choice === question.correct" class="float-right" [icon]="faCheck"></fa-icon>&nbsp;&nbsp;
    </li>

  </ul>

  <br/>
  <strong>Your Answer: </strong> {{answer}}
  <br/>
  <span [hidden]="grading===false">
    <strong>Correct Answer: </strong> {{question.correct}}</span>

  <button class="btn btn-success"
          [hidden]="grading !== false"
          (click)="grade()">Grade
  </button>

  <br/>

</div>
