<h5>{{question.question}}</h5>
<ul class="list-group">
  <li
    [class]="{'correct-ans': grading === true && question.correct === 'true',
    'wrong-ans': grading === true && question.correct !== 'true' && answer === 'true',
    'disabled' : grading === true}"
    class="list-group-item">
    <label>
      <input type="radio"
             value="true"
             [(ngModel)]="answer"
             name="{{question._id}}"/>
      True
    </label>
    <fa-icon *ngIf="grading === true && question.correct !== 'true' && answer === 'true'" class="float-right" [icon]="faTimes"></fa-icon>
    &nbsp;&nbsp;
    <fa-icon *ngIf="grading === true && question.correct === 'true'" [icon]="faCheck" class="float-right"></fa-icon>

  </li>
  <li
    [class]="{'correct-ans': grading === true && question.correct === 'false',
    'wrong-ans': grading === true && question.correct !== 'false' && answer === 'false',
    'disabled' : grading === true}"
    class="list-group-item">
    <label>
      <input type="radio"
             value="false"
             [(ngModel)]="answer"
             name="{{question._id}}"/>&nbsp;False
    </label>
    <fa-icon *ngIf="grading === true && question.correct !== 'false' && answer === 'false'" class="float-right" [icon]="faTimes"></fa-icon>
    &nbsp;&nbsp;
    <fa-icon *ngIf="grading === true && question.correct === 'false'" class="float-right" [icon]="faCheck"></fa-icon>
  </li>
</ul>
<br/>

<strong>Your Answer: </strong> {{answer}}
<br/>
<span [hidden]="grading===false">
  <strong>Correct Answer: </strong>{{question.correct}}</span>

<button class="btn btn-success"
        [hidden]="grading !== false"
        (click)="grade()">Grade</button>

<br/>
